
<div class="font" >
  <div class="super_container" style="margin-top:95px;">
    <!--Thanh tìm kiếm-->

    <app-barsearchandbar></app-barsearchandbar>
    <!--kết thúc thanh tìm kiếm -->


    <div class="nav-item nav-profile dropdown" style="visibility: visible;" *ngIf="isUser">
      <a class="nav-link " id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false" style="margin-top: -12px;">
        <div style="margin-top:5px;"><img class="img-profile rounded-circle" src="../../../assets/images/blog_3.jpg" style="height: 30px;width: 30px;"><span style="color:black;margin-left: 5px;">{{account.username}} </span></div>
        </a>
    </div>
  <div class="container" style="border-bottom:1px solid #808080;border:1px solid black;margin-bottom: 20px;">
    <div class="row" style="padding:15px;color: black;padding-bottom: 30px;" >
      <div class="col-md-6" style="border-right:1px solid grey">
        <div class="row">
            <a class="col-md-4" >
              <img class="img-profile rounded-circle" src="../../../assets/images/blog_3.jpg" style="height: 90px;width: 90px;float:right">
            </a>
            <div class="col-md-8 " style="font-size:15px"  >
              <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size: 20px;"><b>Lâm Phạm </b> </span>
              <div style="margin-top:5px;" *ngIf="isUser"><span style="color:black;margin-left: 5px;">{{account.username}} chu</span></div>
              <div>Đã tham gia 1 năm</div>
              <div><button class="btn btn-danger" style=" border-radius:20px;margin-top: 20px;">Chỉnh sửa trang cá nhân</button></div>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div >
          <div style="margin-bottom:5px"><i class="fa fa-align-left"></i><span>Đánh giá:</span>Chưa có đánh giá</div>
          <div style="margin-bottom:5px"><i class="fa fa-align-left"></i><span>Đánh giá:</span>Chưa có đánh giá</div>
          <div style="margin-bottom:5px"><i class="fa fa-align-left"></i><span>Đánh giá:</span>Chưa có đánh giá</div>
          <div style="margin-bottom:5px"><i class="fa fa-align-left"></i><span>Đánh giá:</span>Chưa có đánh giá</div>
          <div style="margin-bottom:5px"><i class="fa fa-align-left"></i><span>Đánh giá:</span>Chưa có đánh giá</div>
          <div style="margin-bottom:5px"><i class="fa fa-align-left"></i><span>Đánh giá:</span>Chưa có đánh giá</div>


        </div>
      </div>
    </div>
  </div>

  <div class="container" style="height: auto;border:1px solid black" >
    <div class="row" style="padding:15px;margin-top: 35px;">
     <div class="col-md-12" style="border-bottom:1px solid black">
       <b>Đang bán</b>
     </div>
     <div class="container">
      <div class="row">
        <div class="col-lg-1 temp_col"></div>
        <div class="col-lg-11">
        </div>
        <div class="col-lg-12">
          <!-- Offers Grid -->
          <div class="offers_grid">
            <!-- Offers Item -->

          </div>
        </div>
      </div>
    </div>
    </div>
  </div>




</div>
</div>
