<div class="col-md-12">
    <div class="row">
        <div class="col-md-12" >
          <div style="margin-top:20px;padding: 5px;">Số diện thoại cũ</div>
          <div style="height: 30px;padding: 5px;">
            <input style="width: 100%;padding: 5px;"  name="phoneuser" [(ngModel)]="data.account.phone" readonly>
          </div>
          <div style="margin-top:20px;padding: 5px;">Số diện thoại mới</div>
          <div style="height: 30px;padding: 5px;">
            <input matInput  style="width: 100%;padding: 5px;" [(ngModel)]="phone" name="Phone">
          </div>
          <button style="padding: 10px;margin-top:10px;" (click)="onSubmit()" type="button" >Lấy mã xác thực</button>
          <div  style="margin-top:20px;padding: 5px;">Nhập mã xác thực</div>
          <div style="height: 30px;padding: 5px;">
            <input name="phone_number"  [(ngModel)]="phone_number">
          </div>
        </div>
        <button style="margin-top: 20px;text-align: center;margin-left: 80px;" class="btn btn-warning" [mat-dialog-close]="data" type="button" >Cập nhật thông tin</button>
    </div>
</div>
