<app-tophead [name]="nametophead"></app-tophead>
<div class="container" style="margin-top: 20px;">
  <h2 class="font" style="margin-bottom: 40px;">Lịch sử giao dịch</h2>
  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group row" style="padding:5px ;">
      <label class="col-md-3" for="exampleFormControlSelect1" style="font-size: 22px;margin-top: 10px;">Gói thời gian</label>
      <div class="col-md-1"></div>
      <div class="col-md-8" style="width: 400px;color:black;">
        <select (change)="onChangetime($event)" class="form-control form-control-lg" style="color: black;">
          <option *ngFor='let time of times' [value]="time.id" >{{time.text}}</option>
        </select>
      </div>
        <!-- Code here -->
    <table style="margin-top: 20px;">
      <thead class="thead-light">
        <tr>
          <th>TimeChoice</th>
          <th>NumberDatePublish</th>
          <th>PayMoney</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor='let data of bills  | paginate: { itemsPerPage: 15, currentPage: page }'>
            <td>{{data.timeChoice}}</td>
            <td>{{data.numberDatePublish}}</td>
            <td>{{data.payMoney}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event" style="margin-left:150px;margin-top: 20px;"></pagination-controls>
    </div>
  </div>
  </div>

  </div>
