
  <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-light ftco-navbar-light" id="ftco-navbar" >
    <div class="container-fluid" >
      <a class="navbar-brand" href="index.html">Deluxe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>


      <div class="collapse navbar-collapse" id="ftco-nav" >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="index.html" class="nav-link">Tìm mua</a></li>
          <li class="nav-item"><a href="rooms.html" class="nav-link">Tìm thuê</a></li>
          <li class="nav-item"><a href="restaurant.html" class="nav-link">Giá nhà đất</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">Hỏi đáp</a></li>
          <li class="nav-item"><a href="blog.html" class="nav-link">Môi giới</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link">Dự án</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link">Đăng nhập</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link"><i class="fa fa-heart-o" aria-hidden="true" style="color: black;"></i></a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link"><i class="fa  fa-bell-o " aria-hidden="true" style="color: black;"></i></a></li>
          <li class="nav-item"><button type="button" class="btn btn-outline-warning" style="margin:15px">Đăng tin</button></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- END nav -->
<div id="carouselId" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselId" data-slide-to="0" class="active" ></li>
    <li data-target="#carouselId" data-slide-to="1"></li>
    <li data-target="#carouselId" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img style="width: 100%;height:800px" src="../../assets/images/bg_2.jpg">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
   <div class="carousel-item ">
      <img style="width: 100%;;height:800px" src="../../assets/images/bg_1.jpg">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    <div class="carousel-item">
      <img style="width: 100%;;height:800px" src="../../assets/images/bg_1.jpg">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
  </div>

  <section class="ftco-booking">
 <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 style="text-align: center;margin: 100px;"><b>TÌM KIẾM NGÔI NHÀ TRONG MƠ CỦA BẠN</b></h1>
          <div class="col-md-6 col-sm-8 col-xl-4">
            <nav class="nav" style="background-color: white;color: black;">
              <a class="nav-link active" href="#">Active</a>
              <a class="nav-link" href="#">Link</a>
              <a class="nav-link" href="#">Link</a>
              <a class="nav-link disabled" href="#">Disabled</a>
            </nav>
          </div>
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Tìm kiếm nhà trọ">
          </div>

        </div>
      </div>

      <div class="col-md-12" style="margin-left: 10px;">
        <div class="row">
            <div class="btn-group" style="margin-right: 10px;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div>
            <div class="btn-group" style="margin-right: 10px;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Thành phố<span class="caret"></span></button>
              <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>
          <div class="btn-group" style="margin-right: 10px;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tỉnh thành<span class="caret"></span></button>
              <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>
          <div class="btn-group" style="margin-right: 10px;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Non Scrollable Menu <span class="caret"></span></button>
              <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>

          <div class="btn-group" style="margin-right: 10px;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Non Scrollable Menu <span class="caret"></span></button>
              <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>
          <div class="btn-group" style="margin-right: 10px;">
              <button type="button" class="btn btn-primary">Đặc biệt</button>
          </div>
        </div>
      </div>
 </div>
  </section>
  <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container" style="padding-top:20px">
  <h3>Review khu vực</h3>
  <div class="row">
    <div class="col-md-6">
      <div style="background-image: url(https://cloud.mogi.vn/review/districts/ho-chi-minh-home.jpg);height: 160px;width: 550px; border-radius: 20px;padding-top: 10px;">
      <a class="thut">khám phá 150 khu vực ở</a>
      <h3 class="thut">TPHCM</h3>
      <p style="color: white;float:right;padding-top: 40px;">Xem thêm <i class="fa fa-chevron-right"></i></p>
      </div>
    </div>
    <div class="col-md-6">
      <div style="background-image: url(https://cloud.mogi.vn/review/districts/ho-chi-minh-home.jpg);height: 160px;width: 550px; border-radius: 20px;padding-top: 10px;">
        <a class="thut">khám phá 150 khu vực ở</a>
        <h3 class="thut">TPHCM</h3>
        <p style="color: white;float:right;padding-top: 40px;">Xem thêm <i class="fa fa-chevron-right"></i></p>
      </div>
    </div>
  </div>
</div>
<div class="container" >
  <h6>
    Tin nổi bật
    <div class="btn-group" style="margin-right: 10px;">
      <button style="border: none;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
  </h6>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div  style="height:248px" >
        <div class="container" style="border:1px solid gray">
          <div class="row">
        <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 230px;width: 100%;"></div>

        <div class="col-md-8">
          <b style="color: red;font-size: 20px;">Nhà 100 tỷ resort villa</b>
          <div style="float: right;margin-bottom: 20px;"><i class=" fa fa-dollar">100-120</i></div>
          <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
          <div class="dropdown-divider"></div>
          <p><i class="fa fa-cubes" style="margin-right: 40px;">Công ty cổ phần đầu tư Lâm Đầu</i>
            <i class="fa fa-drupal">33,9 m^2</i></p>
            <p><i class="fa fa-cubes" style="margin-right: 40px;">Công ty cổ phần đầu tư Lâm Đầu</i>
            <i class="fa fa-drupal">33,9 m^2</i>
          </p>
        </div>
      </div>

    </div>





      </div>
      <div  style="height:248px;" >
        <div class="container" style="border:1px solid gray">
          <div class="row">
        <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 230px;width: 100%;"></div>

        <div class="col-md-8">
          <b style="color: red;font-size: 20px;">Nhà 100 tỷ resort villa</b>
          <div style="float: right;margin-bottom: 20px;"><i class=" fa fa-dollar">100-120</i></div>
          <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
          <div class="dropdown-divider"></div>
          <p><i class="fa fa-cubes" style="margin-right: 40px;">Công ty cổ phần đầu tư Lâm Đầu</i>
            <i class="fa fa-drupal">33,9 m^2</i></p>
            <p><i class="fa fa-cubes" style="margin-right: 40px;">Công ty cổ phần đầu tư Lâm Đầu</i>
            <i class="fa fa-drupal">33,9 m^2</i>
          </p>
        </div>
      </div>

    </div>
  </div>
      <div  style="height:248px;" >
        <div class="container" style="border:1px solid gray">
          <div class="row">
        <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 230px;width: 100%;"></div>

        <div class="col-md-8">
          <b style="color: red;font-size: 20px;">Nhà 100 tỷ resort villa</b>
          <div style="float: right;margin-bottom: 20px;"><i class=" fa fa-dollar">100-120</i></div>
          <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
          <div class="dropdown-divider"></div>
          <p><i class="fa fa-cubes" style="margin-right: 40px;">Công ty cổ phần đầu tư Lâm Đầu</i>
            <i class="fa fa-drupal">33,9 m^2</i></p>
            <p><i class="fa fa-cubes" style="margin-right: 40px;">Công ty cổ phần đầu tư Lâm Đầu</i>
            <i class="fa fa-drupal">33,9 m^2</i>
          </p>
        </div>
      </div>

    </div></div>
    </div>
    <div class="col-md-4">
      <div  style="height:200px;background-color:red;margin-bottom: 20px;" ></div>
      <div  style="height:510px;background-color:red"></div>
    </div>
  </div>
</div>
<div class="container" >
  <h6>
    Tin nổi bật
    <a href="" style="float: right;">xem thêm <i class="fa fa-chevron-right"></i></a>
  </h6>

</div>
<div class="container" style="margin-bottom: 10px;">
    <div class="col-md-12" style="height: 350px; background-color: salmon;">
    </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-3">
    <ul style="list-style-type: none;">
      <li><b>Bất động sản TPHCM</b></li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul style="list-style-type: none;">
      <li><b>Bất động sản TPHCM</b></li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul style="list-style-type: none;">
      <li><b>Bất động sản TPHCM</b></li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul style="list-style-type: none;">
      <li><b>Bất động sản TPHCM</b></li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
      <li>Bất động sản TPHCM</li>
    </ul>
  </div>
</div>
</div>






