
<footer class="ftco-footerftco-section" style="border-top:1px solid black;">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul style="list-style-type: none;">
        <li><b>Bất động sản TPHCM</b></li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul style="list-style-type: none;">
        <li><b>Bất động sản TPHCM</b></li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul style="list-style-type: none;">
        <li><b>Bất động sản TPHCM</b></li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul style="list-style-type: none;">
        <li><b>Bất động sản TPHCM</b></li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
        <li>Bất động sản TPHCM</li>
      </ul>
    </div>
  </div>
</div>
</footer>

