

<div class="super_container" style="margin-top:60px;">



  <!--Thanh tìm kiếm-->
  <div class="container-fluid" style="background-color: black;">
    <div class="row" style="padding:5px;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 col-xl-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Tìm kiếm nhà trọ" style="height:50px">
          </div>
          <div class="col-md-6 col-xl-6 col-sm-12 row">
            <div class="btn-group col-md-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div>
            <div class="btn-group col-md-3">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Thành phố<span class="caret"></span></button>
                <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Action</a>

                  <a class="dropdown-item" href="#">Action</a>

                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group col-md-3">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tỉnh thành<span class="caret"></span></button>
                <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Action</a>

                  <a class="dropdown-item" href="#">Action</a>

                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group col-md-3">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tỉnh thành<span class="caret"></span></button>
              <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#">Action</a>

                <a class="dropdown-item" href="#">Action</a>

                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="height: 50px;background-color:lightgrey;color: black;">
    <div style="padding-top:15px;padding-left: 25px;"><span style="margin-left: 130px;">Travelix <div class="fa  fa-chevron-right" style="margin-right: 15px;"></div> <b>Trang tìm kiếm</b> <div class="fa  fa-chevron-right"style="margin-right: 15px;"></div></span></div>
  </div>
  <!--kết thúc thanh tìm kiếm -->



  <!--khung chinhs-->
  <div class="container-fluid" style="height: 2000px; padding-top: 20px;color: black;">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-7" >
        <b style="margin-left: -15px;">Thuê nhà đất 2020 giá rẻ nhất tại Việt Nam, giá thuê mới nhất</b>
        <div style="height: 60px;background-color: darkgray;padding:5px ;margin-left: -15px;" >
          <span class="offer_reviews_title" style="float: left;margin-top: 20px;">Kết quả từ 1-15 trong 123.123</span>
          <div style="float: right;">

            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist" style="float: right;">
                <a class="nav-item nav-link active fixbutton" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="color:black">Home</a>
                <a class="nav-item nav-link fixbutton" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" style="color:black">Profile</a>
                <a class="nav-item nav-link fixbutton" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" style="color:black">Contact</a>
              </div>
            </nav>
          </div>
        </div>
        <!--hiển thị thong tin danh sách-->
        <div class="tab-content" id="nav-tabContent" style="margin-left: -20px;">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
            <div  style="margin-top: 30px;" >
              <div class="container-fluid" style="border-bottom:2px solid gray">
                <div class="row" style="padding:5px">
                  <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                  <div class="col-lg-8">
                    <div class="col-md-12">
                      <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                      <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                      Giá: <b style="color: crimson;">6 triệu</b>
                      <hr>
                      <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                      <div style="margin-top:30px;">
                      <p style="float: left;font-size: 15px;">Ngày đăng: Hôm nay</p>
                      <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                      </div>
                      <br>

                    </div>


                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="col-md-3">
      <div style="background-image: url(../../assets/images/image_4.jpg) ;height: 400px;width: 100%;"></div>
      <div style="border: 1px solid gray;margin-top:20px ;border-radius: 5px;" >
        <b style="padding:10px">Loại bất động sản </b>
        <ul style="padding:10px">
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">nhà(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Căn hộ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Phòng trọ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Văn phòng(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Nhà xưởng(54.392)</span></div></li>

        </ul>


      </div>
      <div style="border: 1px solid gray;margin-top:20px ;border-radius: 5px;" >
        <b style="padding:10px">Nhà cho thuê tại khu vực</b>
        <ul style="padding:10px">
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">nhà(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Căn hộ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Phòng trọ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Văn phòng(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Nhà xưởng(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">nhà(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Căn hộ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Phòng trọ(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Văn phòng(54.392)</span></div></li>
          <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Nhà xưởng(54.392)</span></div></li>

        </ul>
      </div>
    </div>
  </div>
</div>
