
<div class="font">
  <div class="super_container" style="margin-top:95px;height: auto;">
    <!--Thanh tìm kiếm-->

    <app-barsearchandbar ></app-barsearchandbar>
    <!--kết thúc thanh tìm kiếm -->



    <!--khung chinhs-->
    <div class="container-fluid" style="height: auto; padding-top: 20px;color: black;">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7" >
          <div class="font" style="margin-left: -15px;font-size: 20px;" >{{NAME}}</div>
          <div style="height: 60px;background-color: rgb(202, 202, 202);padding:4px ;margin-left: -15px;margin-top: 20px;border: 1px solid dimgray;" >
            <span class=" font" style="float: left;margin-top: 15px;font-size: 16px;">Kết quả từ 1-10 trong {{totalRecord}}</span>
            <div style="float: right;">

              <nav >
                <div class="nav nav-tabs" id="nav-tab" role="tablist" style="float: right;margin-right: -5px;">
                  <a href="#" style="text-decoration: none;padding: 18px;" class="  fixbutton font"   id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Mặc định</a>
                  <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="#">Mặc định</a>
                    <a class="dropdown-item" href="#">Gía tăng dần</a>
                    <a class="dropdown-item" href="#">Gía giảm dần</a>
                    <a class="dropdown-item" href="#">Diện tích tăng dần</a>
                    <a class="dropdown-item" href="#">Diện tích giảm dần</a>
                  </div>
                  <a href="#" style="text-decoration: none;padding: 18px; background-color:whitesmoke;" class=" fixbutton font"  >Danh sách</a>
                  <a (click)="openDialog()" style="text-decoration: none;padding: 18px;" class="  fixbutton font" >Lọc thêm</a>
                </div>
              </nav>
            </div>
          </div>

          <!--hiển thị thong tin danh sách-->
          <div class="tab-content" id="nav-tabContent" style="margin-left: -20px;height: auto;">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div *ngFor= "let motel of motels | paginate: { itemsPerPage: 10, currentPage: page } ">
                <div  style="margin-top: 30px;" >
                  <div class="container-fluid" >
                    <div class="row" style="padding:5px">
                      <div class="col-lg-4 col-1680-4 offers_item rating_4">
                        <div class="offers_image_container">
                          <!-- Image by https://unsplash.com/@kensuarez -->
                          <div class="offers_image_background" [style.background-image]="'url(\'' + motel.images[0].imageMotel + '\')'" style="height:280px"></div>
                          <div class="offer_name"><a href="single_listing.html">{{motel.typeservice}}</a></div>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="col-md-12">
                          <b style="color: red;font-size: 25px;" (click)="linkrouter(motel.title, motel.id)" >{{motel.title}}</b>
                          <p >{{motel.address}}</p>
                          Giá: <b style="color: crimson;">{{motel.price}}</b>
                          <hr>
                          <div class="row">
                            <p class="col-md-6" style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Diện tích<span style="margin-left:60px ;">{{motel.areaZone}}</span>  </p>
                            <p class="col-md-6" style="margin-right: 50px;"><i class="fa fa-bed" style="margin-right: 10px;"></i>Phòng ngủ<span style="margin-left:60px ;">{{motel.detail.numberLiving}}</span>  </p>
                          </div>

                          <p style="margin-right: 50px;"><i class="fa fa-bath" style="margin-right: 10px;"></i>Phòng tắm<span style="margin-left:60px ;">{{motel.detail.NumberBath}}</span>  </p>
                          <div style="margin-top:30px;">
                          <p style="float: left;font-size: 13px;">Ngày đăng: {{motel.dateUpdate | date}}</p>

                          <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">{{motel.phone}}</b></p>
                          </div>
                          <br>

                        </div>


                      </div>
                  </div>
                  </div>
                </div>
                <div class="dropdown-divider" style="margin-top: 25px;margin-bottom: 25px;"></div>
              </div>
              <!--<div  style="margin-top: 30px;" >
                <div class="container-fluid" >
                  <div class="row" style="padding:5px">
                    <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                    <div class="col-lg-8">
                      <div class="col-md-12">
                        <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                        <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                        Giá: <b style="color: crimson;">6 triệu</b>
                        <hr>
                        <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                        <div style="margin-top:30px;">
                        <p style="float: left;font-size: 13px;">Ngày đăng: Hôm nay</p>
                        <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                        </div>
                        <br>

                      </div>


                    </div>
                </div>
                </div>
              </div>
              <div class="dropdown-divider" style="margin-top: 25px;margin-bottom: 25px;"></div>
              <div  style="margin-top: 30px;" >
                <div class="container-fluid" >
                  <div class="row" style="padding:5px">
                    <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                    <div class="col-lg-8">
                      <div class="col-md-12">
                        <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                        <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                        Giá: <b style="color: crimson;">6 triệu</b>
                        <hr>
                        <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                        <div style="margin-top:30px;">
                        <p style="float: left;font-size: 13px;">Ngày đăng: Hôm nay</p>
                        <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                        </div>
                        <br>

                      </div>


                    </div>
                </div>
                </div>
              </div>
              <div class="dropdown-divider" style="margin-top: 25px;margin-bottom: 25px;"></div>
              <div  style="margin-top: 30px;" >
                <div class="container-fluid" >
                  <div class="row" style="padding:5px">
                    <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                    <div class="col-lg-8">
                      <div class="col-md-12">
                        <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                        <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                        Giá: <b style="color: crimson;">6 triệu</b>
                        <hr>
                        <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                        <div style="margin-top:30px;">
                        <p style="float: left;font-size: 13px;">Ngày đăng: Hôm nay</p>
                        <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                        </div>
                        <br>

                      </div>


                    </div>
                </div>
                </div>
              </div>
              <div class="dropdown-divider" style="margin-top: 25px;margin-bottom: 25px;"></div>
              <div  style="margin-top: 30px;" >
                <div class="container-fluid" >
                  <div class="row" style="padding:5px">
                    <div class="col-md-4" style="background-image: url(../../assets/images/image_4.jpg) ;height: 250px;width: 100%;"></div>
                    <div class="col-lg-8">
                      <div class="col-md-12">
                        <b style="color: red;font-size: 25px;">HOME RESORT VILLA</b>
                        <p >100, đường Dân Chủ, Thủ Đức, Tp.Hồ Chí Minh</p>
                        Giá: <b style="color: crimson;">6 triệu</b>
                        <hr>
                        <p style="margin-right: 50px;"><i class="fa fa-cubes" style="margin-right: 10px;"></i>Công ty cổ phần Lâm Đầu   <span style="margin-left:60px ;">33,9 m^2</span>  </p>
                        <div style="margin-top:30px;">
                        <p style="float: left;font-size: 13px;">Ngày đăng: Hôm nay</p>
                        <p style="float: right;color: green;"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">09881*****</b></p>
                        </div>
                        <br>

                      </div>


                    </div>
                </div>
                </div>
              </div>-->
            </div>
            <div style="margin-left: 300px;">
            <pagination-controls (pageChange)="page = $event" style="margin-left:150px"></pagination-controls></div>
          </div>

      </div>
      <div class="col-md-3 font">
        <div style="background-image: url(../../assets/images/image_4.jpg) ;height: 400px;width: 100%;"></div>
        <div style="border: 1px solid gray;margin-top:20px ;border-radius: 5px;" >
          <div style="margin-top:20px;margin-left: 20px;margin-right: 20px;"><b>Loại bất động sản </b></div>
          <ul style="padding:20px;padding-top: 10px;" class="font" >
            <li *ngFor='let type of types; let i=index' [value]="type.id" style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">{{type.name}}({{arraycounttype[i]}})</span></div></li>
          </ul>


        </div>
        <div style="border: 1px solid gray;margin-top:20px ;border-radius: 5px;" >
          <div style="margin-top:20px;margin-left: 20px;margin-right: 20px;"><b>Nhà tại khu vực</b></div>
          <ul style="padding:20px;padding-top: 10px;">
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Nhà(54.392)</span></div></li>
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Căn hộ(54.392)</span></div></li>
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Phòng trọ(54.392)</span></div></li>
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Văn phòng(54.392)</span></div></li>
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Nhà xưởng(54.392)</span></div></li>
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">nhà(54.392)</span></div></li>
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span  class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Căn hộ(54.392)</span></div></li>
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Phòng trọ(54.392)</span></div></li>
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Văn phòng(54.392)</span></div></li>
            <li style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">Nhà xưởng(54.392)</span></div></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
