<div class="row" *ngIf="employee">
        <div class="col-md-3" style="text-align:center;">

          <img *ngIf="checkImage" src="{{employee.employeeImage}}" alt="profile" style="width:150px;height:150px">
          <img *ngIf="!checkImage" src="../../../assets/images/blog_3.jpg" alt="profile" style="width:150px;height:150px">

        </div>
        <div class="col-md-9" >
          <div>Họ và tên</div>
          <div style="margin: 5px;height: 30px;padding: 5px;">
            <input  [(ngModel)]="employee.hovaTen" style="width:100%;padding: 5px;margin-left: -10px;"> <span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin-top:10px">Số điện thoại</div>
             <div style="margin: 5px;height: 30px;padding: 5px;">
            <input [(ngModel)]="employee.phone" style="width:100%;padding: 5px;margin-left: -10px;"><span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin-top:10px">Email</div>
             <div style="margin: 5px;height: 30px;padding: 5px;">
            <input [(ngModel)]="employee.email" style="width:100%;padding: 5px;margin-left: -10px;"> <span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin-top:10px">Địa chỉ 1</div>
             <div style="margin: 5px;height: 30px;padding: 5px;">
            <input [(ngModel)]="employee.addressOne" style="width:100%;padding: 5px;margin-left: -10px;"> <span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin-top:10px">Địa chỉ 2</div>
             <div style="margin: 5px;height: 30px;padding: 5px;">
            <input [(ngModel)]="employee.addressTwo" style="width:100%;padding: 5px;margin-left: -10px;"> <span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin-top:10px">Mật khẩu</div>
             <div style="margin: 5px;height: 30px;padding: 5px;">
            <input [(ngModel)]="employee.account.password" style="width:100%;padding: 5px;margin-left: -10px;"><span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
        </div>
        <div class="col-md-12" style="text-align: center; margin-top: 30px;">
        <button class="btn btn-warning" style="width:260px" type="submit" (click)="onSubmit(employee)" >Lưu thông tin</button></div>
</div>

