<div class="super_container">
<header class="header">

  <!-- Top Bar -->

  <div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-row">
          <div class="phone">+45 345 3324 56789</div>
          <div class="social">
            <ul class="social_list">
              <li class="social_list_item"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="user_box ml-auto">
            <div class="user_box_login user_box_link"><a href="#">login</a></div>
            <div class="user_box_register user_box_link"><a href="#">register</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->

  <nav class="main_nav" style="width:auto">
    <div class="container-fluid " >
      <div class="row" style="background-color:white;">
          <div class="logo_container col-md-2 col-sm-12 col-xs-2 " style="padding-top:40px">
            <div class="logo"><a href="#">travelix</a></div>
          </div>
          <div class=" col-md-7 col-sm-12 col-xs-10" style="padding-top: 40px; font-size: 23px;font-weight: bold;letter-spacing: .0.5rem;text-align: center;" >
            <div class="row">
              <div class="col-md-2">Tìm mua</div>
              <div class="col-md-2">Tìm thuê</div>
              <div class="col-md-2">Giá nhà đất</div>
              <div class="col-md-2">Hỏi đáp</div>
              <div class="col-md-2">Môi giới</div>
              <div class="col-md-2">Dựa án</div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12" style="font-size: 23px;padding:20px">
            <nav class="nav row" style="float: right;">

              <a href="blog.html"><div class="nav-item dropdown no-arrow col-md-6 col-sm-10" >
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Lâm Phạm  </span>
                  <img class="img-profile rounded-circle" src="../../../assets/images/blog_3.jpg" style="height: 50px;width: 50px;">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu " aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </div></a>
              <a>
                <div class="col-md-4 col-sm-12" ><button style="width:150px;height:70px;background-color:whitesmoke;border-style: none;border-radius: 10px; background-color: darkturquoise;"><b>Đăng tin</b></button></div>
              </a>

            </nav>
          </div>
          </div>
        </div>
  </nav>

</header>



</div>

