

<div class="super_container" style="margin-top:60px;color: black;">
  <div class="container-fluid" style="height: 50px;background-color: #C0C0C0;">
    <div style="padding-top:15px;"><span style="margin-left: 130px;">Travelix <div class="fa  fa-chevron-right" style="margin-right: 15px;"></div> <b>Trang tìm kiếm</b> <div class="fa  fa-chevron-right"style="margin-right: 15px;"></div></span></div>
  </div>
  <div class="container=fluid"  style=" margin-top: 40px;color: black;padding:5px ;">
    <i class="fa fa-angle-left" href=# aria-hidden="true" style="margin-right:20px"></i>Quay trở lại
    <div class="col-md-6" style="height: 4px; background-color: green;"></div>
    <br>
    <div style="text-align: center;"><h2><b>Thông tin cơ bản</b></h2></div>
    <div class="col-md-6"></div>
    <div style="margin-top: 30px;" >
      <div class="container-fluid" style="padding-top: 20px;">
        <div class="row">
          <div class="col-md-6">
            <form>
              <div class="form-group row">
                <label class="col-sm-3" for="exampleFormControlInput1">Tên dự án</label>
                <div class="col-sm-9" style="margin-top: -10px ;">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nhập tên dự án">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="exampleFormControlSelect1">Loại hình</label>
                <div class="col-sm-9" style="padding-left: 28px;" >
                <button  class="btn btn-primary" style="height:45px;width: 100px;margin-left:-23px;padding: 5px;">Mua bán</button>
                <button style="margin-left:20px;height:45px;width: 100px;padding: 5px;" class="btn btn-primary">Cho thuê</button>
                </div>
              <br>
              <br>
              <br>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="exampleFormControlSelect1">Tỉnh thành phố</label>
                <div class="col-sm-9" style="margin-top: -10px ;" placeholder="Nhập tên dự án">
                <select class="form-control form-control-lg">
                  <option >Nhập tên dự án</option>
                  <option >Chu</option>
                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="exampleFormControlSelect1">Quận/Huyện </label>
                <div class="col-sm-9" style="margin-top: -10px ;">
                <select class="form-control form-control-lg">
                  <option>Nhập tên dự án</option>
                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="exampleFormControlSelect1">Xã/Phường</label>
                <div class="col-sm-9" style="margin-top: -10px ;">
                <select class="form-control form-control-lg">
                  <option>Nhập tên dự án</option>
                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="exampleFormControlSelect1">Đường phố</label>
                <div class="col-sm-9" style="margin-top: -10px ;">
                <select class="form-control form-control-lg">
                  <option>Nhập tên dự án</option>
                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="exampleFormControlSelect1">Địa chỉ</label>
                <div class="col-sm-9" style="margin-top: -10px ;">
                <select class="form-control form-control-lg">
                  <option>Nhập tên dự án</option>
                </select>
                </div>
              </div>
              </form>
          </div>
          <div class="col-md-6" style="margin-top:-13px">
            <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Ho%20Chi%20Minh%20City+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://embedmaps.net'></a> <script type='text/javascript' src='https://maps-generator.com/google-maps-authorization/script.js?id=dbed74534fca59a6c3ee7c80b657ad108b84a339'></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
