<div class="super_container">
<header class="header">

  <!-- Top Bar -->

  <div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-row">
          <div class="phone">+45 345 3324 56789</div>
          <div class="social">
            <ul class="social_list">
              <li class="social_list_item"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
              <li class="social_list_item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="user_box ml-auto">
            <div class="user_box_login user_box_link"><a href="#">login</a></div>
            <div class="user_box_register user_box_link"><a href="#">register</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->

  <nav class="main_nav" style="width:auto">
    <div class="container-fluid " >
      <div class="row" style="background-color:white;">
          <div class="logo_container col-md-2 col-sm-12 col-xs-2 " style="padding-top:40px">
            <div class="logo"><a href="#">travelix</a></div>
          </div>
          <div class=" col-md-6 col-sm-12 col-xs-10" style="padding-top: 40px; font-size: 23px;font-weight: bold;letter-spacing: .0.5rem;text-align: center;" >
            <div class="row">
              <div class="col-md-2">Tìm mua</div>
              <div class="col-md-2">Tìm thuê</div>
              <div class="col-md-2">Giá nhà đất</div>
              <div class="col-md-2">Hỏi đáp</div>
              <div class="col-md-2">Môi giới</div>
              <div class="col-md-2">Dựa án</div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12" style="font-size: 23px;margin-top: -5px;">
            <div [hidden]="username">
            <button style="width:150px;height:70px;background-color:whitesmoke;border-style: none;border-radius: 10px; background-color: darkturquoise;"  [routerLink]="['/login']"><b>Đăng nhập</b></button>
            </div>
            <div class="nav-item nav-profile dropdown" style="visibility: visible;" *ngIf="isUser">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-profile rounded-circle" src="../../../assets/images/blog_3.jpg" style="height: 50px;width: 50px;"><span style="color:black;">{{username}} </span>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown" style="font-size: 20px;">
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi mdi-account mr-2 text-success"></i> Thông tin cá nhân</a>
                    <div class="dropdown-divider"></div>
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi mdi-message-processing mr-2 text-warning"></i> Tin đăng đã lưu</a>
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi mdi-file-find mr-2 text-warning"></i>Tìm kiếm đã lưu</a>
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi mdi-account-multiple mr-2 text-warning"></i>Bạn bè</a>
                  <div class="dropdown-divider"></div>
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi  mdi-history mr-2 text-success"></i> Lịch sử giao dịch</a>
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi mdi-cached mr-2 text-success"></i>Lịch sử thanh toán</a>
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi mdi-newspaper mr-2 text-success"></i>Bảng giá dịch vụ</a>
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi mdi-currency-btc mr-2 text-success"></i>Nạp tiền vào tài khoản</a>
                  <div class="dropdown-divider"></div>
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi mdi-help-circle mr-2 text-primary"></i> Trợ giúp</a>
                  <a [routerLink]="['/quanly/danhmuc']" class="dropdown-item" href="#">
                    <i class="mdi mdi-settings mr-2 text-primary"></i>Cài đặt thông tin</a>
                  <a (click)='onLogout()' class="dropdown-item" href="#">
                    <i class="mdi mdi-logout mr-2 text-primary"></i>Đăng xuất</a>
                  <div class="dropdown-divider"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-2 col-sm-12" style="font-size: 23px;padding:20px" >
            <button style="width:150px;height:70px;background-color:whitesmoke;border-style: none;border-radius: 10px; background-color: darkturquoise;"><b>Đăng tin</b></button>
          </div>
          </div>
        </div>
  </nav>

</header>



</div>

